.list {
	list-style: none;
	overflow: auto;
	max-height: 30vh;
	margin-top: 10px;
}

.list::-webkit-scrollbar {
	width: 5px;
}

.list::-webkit-scrollbar-track {
	margin-left: 5px;
}

.list::-webkit-scrollbar-thumb {
	background: darkgrey;
}

.list__description {
	line-height: 1.5;
}
